      <div class="hero-unit">
        <h1><%= settings.name %> API explorer</h1>
        <br>
        <p>
          This is an interactive API explorer for <%= settings.name %>. Please login to continue.
        </p>
        <p>
        <a href="<%= base_url%>/login" class="btn btn-primary btn-large">
          Login
        </a>
        </p>
      </div>
